<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragmentos :: imports-css(title='Meus Dados')}">
        <title>...</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div th:replace="~{fragmentos :: barramenu(pagina='meusdados')}"></div>
        
        <div class="container" style="width: 60%; margin-top: 20px">
            <div class="card-header">
                <h4>Meus Dados
                    <a class="btn btn-primary float-right" th:href="@{~/}" role="button">Voltar</a>
                </h4>
            </div>
            
            <div th:replace="~{fragmentos :: mensagens}"></div>
            
            <form th:object="${usuario}" th:action="@{~/usuarios/meusdados}" method="post" class="card-body">
                <input type="hidden" th:field="*{idUser}"/>
                
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nome">Nome:</label>
                        <input th:field="*{nome}" type="text" class="form-control" placeholder="Nome" required="required" maxlength="50"/>
                    </div>  
                    
                    <div class="form-group col-md-6">
                        <label for="sobrenome">Sobrenome:</label>
                        <input th:field="*{sobrenome}" maxlength="50" type="text" class="form-control" placeholder="Sobrenome" required="required"/>
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="email">Email:</label>
                        <input th:field="*{email}" type="text" class="form-control" placeholder="Email" required="required" maxlength="100" readonly="readonly"/>
                    </div>
                </div>
                 
                <div class="form-row">
                    <small class="form-text" style="color: #ff6666"> * Deixe os campos vazios se não quiser trocar sua senha.</small>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="senhaAtual">Senha atual:</label>
                        <input th:name="senhaAtual" type="password" placeholder="Senha Atual" class="form-control" minlength="6"/>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="novaSenha">Nova senha:</label>
                        <input name="novaSenha" type="password" placeholder="Nova Senha" class="form-control"  minlength="6"/>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="confirmarNovaSenha">Confirmar nova senha:</label>
                        <input name="confirmarNovaSenha" type="password" placeholder="Confirmar Nova Senha" class="form-control"  minlength="6"/>
                    </div>
                </div>
                
                <div class="card-footer">
                    <input type="submit" class="btn btn-success" value="Salvar"/>
                    <a class="btn btn-primary float-right" th:href="@{'~/usuarios/' + ${usuario.idUser} + '/projetos'}" role="button">Ver Projetos</a>
                </div>
                
            </form>
        </div>
        <div th:replace="~{fragmentos :: imports-js}"></div>
    </body>
</html>
