<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragmentos :: imports-css(title='Usuários')}">
        <title>...</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div th:replace="~{fragmentos :: barramenu(pagina='usuarios')}"></div>
        
        <div class="container" style="width: 60%; margin-top: 20px">
            <div class="card-header">
                <h4>Cadastro de Usuário
                    <a class="btn btn-primary float-right" th:href="@{~/usuarios}" role="button">Voltar</a>
                </h4>
            </div>
            
            <div th:replace="~{fragmentos :: mensagens}"></div>
            
            <form th:object="${usuario}" th:action="@{~/usuarios/usuario/{id}(id=${usuario.idUser})}" method="post" class="card-body">
                <input type="hidden" th:field="*{idUser}"/>
                
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nome">Nome:</label>
                        <input th:field="*{nome}" type="text" class="form-control" placeholder="Nome" required="required" maxlength="50"/>
                    </div>  
                    
                    <div class="form-group col-md-6">
                        <label for="sobrenome">Sobrenome:</label>
                        <input th:field="*{sobrenome}" maxlength="50" type="text" class="form-control" placeholder="Sobrenome" required="required"/>
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="email">Email:</label>
                        <input th:field="*{email}" type="text" class="form-control" placeholder="Email" required="required" maxlength="100"/>
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="senha">Senha:</label>
                        <input th:field="*{senha}" type="password" class="form-control" placeholder="Senha" required="required" maxlength="50"/>
                    </div>  
                    
                    <!--<div class="form-group col-md-6">
                        <label for="sobrenome">Confirmar senha:</label>
                        <input th:field="*{sobrenome}" maxlength="50" type="password" class="form-control" placeholder="Confirmar senha" required="required"/>
                    </div>-->
                </div>
                
                <div class="card-footer">
                    <input type="submit" class="btn btn-success" value="Salvar"/>
                </div>
            </form>
        </div>
        <div th:replace="~{fragmentos :: imports-js}"></div>
    </body>
</html>
